myenv/
instruct.txt
appdata/appfiles/data
appdata/appfiles/app_data.json
appdata/data/
appdata/update/
appdata/common/
appdata/appfiles/downloads.txt
ok.py
ok.txt
src/
pkg/
thunder-1.0-1-any.pkg.tar.zst
Thunder0.0.0.tar
SSHKEY.pub
current_location.txt
appdata/userdata/userinfo.json
/appdata/userdata
/appdata/funx/__pycache__
