<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loader.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <script src ="{{ url_for('static', filename='redir.js') }}"></script>
</head>

<body>

    <h1 style="text-align: center; margin-top: 120px;">Thunder</h1>
    
    <h4 style="text-align: center; margin-top: 20px;">Now Loading.... Please Wait.....</h4>

    <!-- Progress bar container outside of <h4> tags -->
    <div class="container" style="margin-top: 20px;">
        <div class="bar"></div>
    </div>

    <!--11 seconds lame animation i know-->
    <h4 style="text-align: center; margin-top: 250px;">Did you know</h4>
    
    <div id="quote" style="text-align: center; margin-top: 20px;">Loading...</div>

    <script src="{{ url_for('static', filename='fac.js') }}"></script>

</body>

</html>
